/*Paramêtres généraux du body*/
body {
    margin: 0;
    background-image: url("https://i.pinimg.com/originals/c4/63/24/c463248be09638a1aae4b8608ad880f7.jpg");
    height: 100%;
    width: 100%;
    background-size: cover; /*Etire l'image de fond en mode portrait*/
}


.jedi {
    color: #fefdff;
    background: none;
    margin-left: 16%;
    margin-top: 18%;
}


.Sith {
    color: #fefdff;
    background: none;
    margin-left: 60%;
    margin-top: -30%;
}

/*Paramêtres généraux des images*/

img {
    height: 400px;
    width: 500px;
}

/* Paramêtres généraux des titres*/

h1 {
    margin-left: 11%;
    font-size: 60px;
    font-family: Orbitron;
    text-shadow: 4px 4px 3px rgb(0, 0, 0);
    text-decoration: none;  /*Méthodes employé pour viré le surlignage moche des liens par défaut*/
}

/* Quand notre souris passe sur les balises*/
h1:hover {
    text-shadow: 18px 18px 18px rgb(27, 33, 112); /*Ombre du texte*/
    text-decoration: none;
}

h2 {
    margin-left: 22%;
    font-size: 60px;
    font-family: Orbitron;
    text-shadow: 4px 4px 3px rgb(0, 0, 0);
    text-decoration: none;
  
}




h2:hover {
    text-shadow: 18px 18px 18px rgb(145, 34, 34);
    text-decoration: none;
}



/*Paramêtres généraux du texte*/

p {
    font-size: 60px;
    font-family: Orbitron;
    text-shadow: 4px 4px 3px rgb(0, 0, 0);
    text-decoration: none;
}

p {
    font-size: xx-large;
}

/* Paramêtres des balises de type a*/

a {
    color: white;
    text-decoration: none;
}

/* Réglages des header et footer*/
header {
    margin-top: 0;
    color: white;
    font-family: Orbitron;
    margin-left: 43%;
}


footer{
    color: white;
    font-family: Orbitron;
    margin-left: 0.4%;
  
}
