/* Mettre margin 0 au body, ça change la vie*/

body {
    margin: 0;
    padding: 0;
    color: rgb(10, 10, 10);
    background-color: rgb(255, 255, 255);
}

/* Paramêtres du header */

header {
    height: 10px;
    background-color: rgb(37, 37, 37);
}

.Partie1 {
    background: url("https://i.pinimg.com/originals/8d/d7/92/8dd7923878dbcb7e4fabff72899cf687.jpg") center 0 no-repeat fixed;
    color: #fefdff;
    background-color: #fdfbfb77;
    height: 900px;
}

/* El famoso effet parralax se définie avec center 0 no-repeat combiné avec fixed */

.Partie2 {
    background: url("https://4kwallpaper.wiki/wp-content/uploads/2019/09/200601.jpg") center 0 no-repeat fixed;
    color: #fefdff;
    background-color: #fdfbfb77;
    height: 900px;
}

.Partie3 {
    background: url("https://image.api.playstation.com/vulcan/img/cfn/113076kbShAKp6wphOpbYJGETFCCg83xEiKNvr4aBMZevnFAgJaW53SU5K8L0vn3co96Bp-65ef_UinRubps6K_n6KEhwJRZ.jpg") center 0 no-repeat fixed;
    color: #fefdff;
    background-color: #fdfbfb77;
    height: 900px;
}

.Partie4 {
    background: url("https://wallpapercave.com/wp/wp7116732.jpg") center 0 no-repeat fixed;
    color: #fefdff;
    background-color: #fdfbfb77;
    height: 900px;
}

.Partie5 {
    background: url("https://images5.alphacoders.com/913/thumb-1920-913639.jpg") center 0 no-repeat fixed;
    color: #fefdff;
    background-color: #fdfbfb77;
    height: 900px;
}

/* Changement de la Font et la bordure du texte en mode jedi qui vas bien */

p {
    font-size: 30px;
    font-family: Orbitron;
    /*La meilleure police du monde */
    text-shadow: 2px 2px 3px rgb(51, 32, 158);
    margin-left: 35%;
    margin-top: 1%;
    padding: 50px 20px 20px;
    /* Permet de régler la position du texte dans l'élement image */
}