/* Mettre margin 0 au body, ça change la vie*/

body {
    margin: 0;
    padding: 0;
    color: rgb(10, 10, 10);
    background-color: black;
}

/* Paramêtres du header */

header {
    height: 10px;
    background-color: rgb(37, 37, 37);
}

.Partie1 {
    background: url("https://wallpaperset.com/w/full/d/a/3/60826.jpg") center 0 no-repeat fixed;
    color: #fefdff;
    background-color: #fdfbfb77;
    height: 900px;
}

/* El famoso effect parallax, se définie avec center 0 no-repeat combiné avec fixed */

.Partie2 {
    background: url("https://i.pinimg.com/originals/52/65/8f/52658f02042033ec860a6de4c734ca27.jpg") center 0 no-repeat fixed;
    color: #fefdff;
    background-color: #fdfbfb77;
    height: 900px;
}

.Partie3 {
    background: url("https://cdn.hipwallpaper.com/i/61/38/C271w4.png") center 0 no-repeat fixed;
    color: #fefdff;
    background-color: #fdfbfb77;
    height: 900px;
}

.Partie4 {
    background: url("https://images.wallpapersden.com/image/download/sith-with-lightsaber_a2tsamaUmZqaraWkpJRmbmdlrWZlbWU.jpg") center 0 no-repeat fixed;
    color: #fefdff;
    background-color: #fdfbfb77;
    height: 900px;
}

.Partie5 {
    background: url("https://www.wallpapertip.com/wmimgs/41-415504_star-wars-sith-meditation.jpg") center 0 no-repeat fixed;
    color: #fefdff;
    background-color: #fdfbfb77;
    height: 900px;
}

.Partie6 {
    background: url("https://wallpapercave.com/wp/X0DFbDH.jpg") center 0 no-repeat fixed;
    color: #fefdff;
    background-color: #fdfbfb77;
    height: 900px;
}

/* Changement de la Font et la bordure du texte en mode sith qui vas bien */

p {
    font-size: 30px;
    font-family: Orbitron;
    /*La meilleure police du monde */
    text-shadow: 2px 2px 3px rgb(156, 35, 35);
    margin-left: 35%;
    margin-top: 1%;
    padding: 50px 20px 20px;
    /* Permet de régler la position du texte dans l'élement image */
    
}